li{
   list-style: none;
}
ul{
    display: flex;
    justify-content: end;
    gap:30px
}
.top{
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(102, 107, 71);
    color: white;
}