
.card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width:260px;
    height: 300px;
    border:1px solid grey;
    margin: 0 auto;
    /* backdrop-filter: blur(10px); */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(230, 229, 229, 0.947);
}
.flex{
    display: flex;
}